<div id="chart"></div>
<div>
    <h3>Ось Y</h3>
    <input type="text" placeholder="Максимальный Y" (blur)="changeY()" [(ngModel)]="maxY">
</div>
<div>
    <div>
        Вероятность нахождения в первом классе: {{probabilityOfFirst}}
    </div>
    <div>
        Вероятность нахождения во втором классе: {{probabilityOfSecond}}
    </div>
</div>
<div>
    <h3>Первая случайная величина</h3>
    <input type="text" placeholder="Мю" (blur)="recalculate()" [(ngModel)]="firstDistribution.mu">
    <input type="text" placeholder="Сигма" (blur)="recalculate()" [(ngModel)]="firstDistribution.sigma">
    <input type="text" placeholder="Количество" (blur)="recalculate()" [(ngModel)]="firstDistribution.count">
    <div>
        <div>
            Вероятность ложной тревоги ~ {{firstProbability.falseAlarm}}
        </div>
        <div>
            Вероятность пропуска обнаружения ~ {{firstProbability.detectionSkip}}
        </div>
        <div>
            Суммарная ошибка классификации ~ {{firstProbability.falseAlarm + firstProbability.detectionSkip}}
        </div>
    </div>
</div>
<div>
    <h3 [style.color]="'#0000FF'">Вторая случайная величина</h3>
    <input type="text" placeholder="Мю" (blur)="recalculate()" [(ngModel)]="secondDistribution.mu">
    <input type="text" placeholder="Сигма" (blur)="recalculate()" [(ngModel)]="secondDistribution.sigma">
    <input type="text" placeholder="Количество" (blur)="recalculate()" [(ngModel)]="secondDistribution.count">
    <div>
        <div>
            Вероятность ложной тревоги ~ {{secondProbability.falseAlarm}}
        </div>
        <div>
            Вероятность пропуска обнаружения ~ {{secondProbability.detectionSkip}}
        </div>
        <div>
            Суммарная ошибка классификации ~ {{secondProbability.falseAlarm + secondProbability.detectionSkip}}
        </div>
    </div>
</div>
